.container-index {
    font-family: 'Open Sans', sans-serif;
}

.custom-container-form {
    max-width: 40%;
}

.title-index {
    font-family: 'Lobster', cursive;
    font-size: 3.0em;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.new_books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.card-custom{
    margin: 10px 20px;
    
}

.wrapper-book-detail {
    margin-top: 100px;
    display: flex;
}

.left-side {
    margin-right: 50px;
    display: flex;
    flex-direction: column
    
}

.cover-book {
    max-width: 400px;
}

.custom-btn {
    width: 144px;
    margin: 10px 10px 0 10px;
}

.books-list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;    
}

.read-book-card {
    margin-bottom: 40px;
}

.card-author {
    margin-bottom: 30px;
}

.all-books {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.header-logo {
    width: 100px;
}

.profile-header {
    display: flex;
}

.profile-avatar {
    max-width: 450px;
    margin-right: 40px;
}

.change-avatar {
    margin-bottom: 10px;
    margin-top: 10px;
}

.img-circle {
    border-radius: 5%;
}

.profile-info-allread {
    font-weight: bold;
    font-size: 18px;
}

.want-read {
    margin-top: 20px;
}

.books-read {
    padding-top: 50px;
}

.books-list-header {
    margin: 20px auto;
    text-align: center;
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}
.hide-block {
    display:none;
}
