{% extends 'base.html' %}
{% block title %}Вход{% endblock %}
{% block content %}
<div class="container">
  {% if form.errors %}
    <p>Ваши имя и пароль не совпали. Пожалуйста попробуйте еще раз.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Войдите в систему, чтобы увидить эту страницу.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">{{ form.username.label_tag }}</span>
      {{ form.username }}
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">{{ form.password.label_tag }}</span>
      {{ form.password }}
    </div>
    <input class="btn btn-info" type="submit" value="Вход" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  <p class="mt-5"><a href="{% url 'users:password_reset' %}">Забыли пароль?</a></p>
</div>

{% endblock %}