{% extends 'base.html' %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
{% if validlink %}
    <p>Пожалуйста, введите (и подтвердите) свой новый пароль.</p>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">Новый пароль:</label>
                </td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                 <td>
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">Подтвердите пароль:</label>
                </td>
                <td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Сменить пароль" >
                </td>
            </tr>
        </table>
    </form>
{% else %}
    <h1>Ошибка при смене пароля!</h1>
    <p>Ссылка на сброс пароля была не действительной, возможно, потому, что она уже использовалась.
    Пожалуйста, запросите новый сброс пароля.</p>
{% endif %}
{% endblock %}