{% extends 'base.html' %}
{% block title %}{{ book.title }}{% endblock %}
{% block content %}
<div class="container">
  <div class="wrapper-book-detail">
    <div class="left-side">
      <div class="left-side-img">
        <img src="{{ book.cover.url }}" class="cover-book">
      </div>
      <a href="{% url 'books:favorite_add' book.id %}" class="btn btn-info custom-btn">Хочу прочесть</a>
      <a href="{% url 'books:rating_book' book.id %}" class="btn btn-info custom-btn">Прочитана</a>
    </div>

    <div class="right-side">
      <h1>Название книги: {{ book.title }}</h1>
      <p><strong>Автор: </strong>{{ book.author }}</p>
      <p><strong>Жанр: </strong>{{ book.genre }}</p>
    <p><strong>Описание: </strong>{{ book.description }}</p>
    </div>
  </div>
</div>
{% endblock %}