{% extends 'base.html' %}
{% block title %}Закладки{% endblock %}
{% block content %}
<div class="container container-index">
{% for book in fav_books %}
    <div class="card read-book-card" style="width: 18rem;">
      <img src="{{ book.cover.url }}">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'books:book_detail' book.pk %}">{{ book.title }}</a></h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'books:favorite_delete' book.id %}" class="btn btn-primary custom-btn">Удалить</a></li>
      </ul>
    </div>
{% endfor %}
</div>
{% endblock %}