
{% with user=action.user %}
<div class="action">
  <div class="info">
    <p class="mb-5">
      <span class="text-muted pb-2">{{ action.created|timesince }} назад</span>
      <br />
      <a href="{% url 'users:user_profile' user.username %}">
        {{ user.username }}
      </a>
      {{ action.verb }}
      {% if action.target %}
        {% with target=action.target %}
          {% if action.verb == 'прочитал' %}
            <a href="{{ target.get_absolute_url }}">
              {{ target.title }}
            </a>
          {% elif action.verb == 'хочет прочитать' %}
            <a href="{{ target.get_absolute_url }}">
              {{ target.title }}
            </a>
          {% elif action.verb == 'подписался на' %}
            <a href="{% url 'users:user_profile' target.username %}">
              {{ target.username }}
            </a>
          {% else %}
          прочесть книг: <strong>{{ target }}</strong>
          {% endif %}
        {% endwith %}
      {% endif %}
    </>
  </div>
</div>
{% endwith %}
